{% extends 'base.html.twig' %}


{% block body %}
	<div class="row expanded video">
		<iframe src="https://www.youtube.com/embed/aOfk9ORf5-U?autoplay=1&showinfo=0&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	
	<div class="row expanded index intro" id="a-propos">
		<h1>Site en construction</h1>
		
		<h3>Toute l’équipe d’Ebulli’son est en effervescence pour vous surprendre en MAI 2019 !</h3>
		
		<p>Bientôt plus d’information…</p>
	</div>
	
	<div class="row expanded index" id="contact">
		<h1>Contact</h1>
		
		<div class="row expanded">
			<div class="small-12 medium-6 medium-push-6 columns">
				<h4>Devenir bénévole : 06 37 77 06 26 (Cyp)</h4>
				<h4>Programmation artistique : 06 61 84 21 13 (Vinz)</h4>
				<h4>Devenir mécènes : 06 85 52 39 44 (Max)</h4>
			</div>
			<div class="small-12 medium-6 medium-pull-6 columns no-pl">
				<div style="width: 100%">
					<iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
						<a href="https://www.maps.ie/create-google-map/">Add map to website</a></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}