{% extends 'base.html.twig' %}


{% block body %}
	<div class="row expanded video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/1-1uOoscaq4?
			listType=playlist&
			list=PLBk41oRsW7UuyLuvGzkavd_SOaih88lCH&
			version=3&
			loop=1&
			autoplay=1&
			rel=0&
			showinfo=0&
			controls=0&
			autohide=1
			"
			frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
			
		</iframe>
	</div>
	
	<div class="row expanded index intro" id="a-propos">
		<h1>Site en construction</h1>
		
		<h3>Toute l’équipe d’Ebulli’son est en effervescence pour vous surprendre les <span class="block rose"><span class="nb">17</span> et <span class="nb">18</span> MAI <span class="nb">2019</span> !</span></h3>
		
		<h3>Annonce de la programmation début décembre</h3>
	</div>
	
	<div class="row expanded index" id="programmation">
		<h1><img src="{{ asset('images/programmation.png') }}" alt="Programmation, Ebulli'Son - festival de la bière et du son à Besançon">Programmation</h1>
		
		<div class="row expanded liste">
			<div class="small-12 first-line">
				<div>Fatal Picard • </div>
				<div>Vanupié</div>
			</div>
			<div class="small-12 second-line">
				<div>Fontiac • </div>
				<div>The Yokel • </div>
				<div>2 Tones Club</div>
			</div>
			<div class="small-12 second-line">
				<div>Thé Vanille • </div>
				<div>Lidiop • </div>
				<div>The Rinsing Sun</div>
			</div>
			<div class="small-12 little-line">
				<div>Rose Eme • </div>
				<div>Lobster • </div>
				<div>Sorg</div>
				<div>Gadjo Michto</div>
			</div>
			<div class="small-12 little-line">
				<div>FAB • </div>
				<div>U90 • </div>
				<div>Ambersand</div>
				<div>Altes</div>
				<div>DJ N2B</div>
			</div>
			<div class="small-12 little-line">
				<div>Poulidorkestra • </div>
				<div>Blacksheep • </div>
				<div>Star Coyote</div>
			</div>
		</div>
	</div>
	
	<div class="row expanded index" id="billetterie">
		<h1><img src="{{ asset('images/billetterie.png') }}" alt="Billetterie, Ebulli'Son - festival de la bière et du son">Billetterie</h1>
		
		<iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/fcmmgv/evenements/festival-ebulli-son-1/widget" style="width:100%;height:750px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>
	</div>
	
	<div class="row expanded index" id="contact">
		<h1><img src="{{ asset('images/contact_inv.png') }}" alt="Contactez nous, Ebulli'Son - festival de la bière et du son">Contact</h1>
		
		<div class="row expanded">
			<div class="small-12">
				<h4>Programmation artistique <br><span>06 61 84 21 13 (Vinz)</span> <br><span class="small-block">06 37 77 06 26 (Cyp)</span></h4>
				<h4>Devenir bénévole <br><span>06 37 77 06 26 (Cyp)</span></h4>
				<h4>Devenir mécène <br><span>06 85 52 39 44 (Max)</span></h4>
			</div>
		</div>
	</div>
	
	<div class="row expanded index" id="localisation">
		<h1><img src="{{ asset('images/localisation_inv.png') }}" alt="Lacalisez nous ! Ebulli'Son - festival de la bière et du son">Localisation</h1>
		
		<div class="row expanded">
			<div class="small-12">
				
				<div style="width: 100%">
					<iframe width="100%" height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.224667273382!2d6.0754552318268615!3d47.23604009016959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478d7cee38e713e5%3A0x16da3fe40e1164b3!2sRue+de+la+Comtesse+Henriette%2C+25660+Montfaucon!5e1!3m2!1sfr!2sfr!4v1540985557755"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}