{% extends 'base.html.twig' %}


{% block body %}
	<div class="row expanded video">
		<iframe src="https://www.youtube.com/embed/aOfk9ORf5-U?autoplay=1&showinfo=0&controls=0&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
	
	<div class="row expanded index intro" id="a-propos">
		<h1>Site en construction</h1>
		
		<h3>Toute l’équipe d’Ebulli’son est en effervescence pour vous surprendre en MAI 2019 !</h3>
		
		<p>Bientôt plus d’information…</p>
	</div>
	
	<div class="row expanded index" id="contact">
		<h1><img src="{{ asset('images/contact.png') }}" alt="">Contact</h1>
		
		<div class="row expanded">
			<div class="small-12">
				<h4>Devenir bénévole : 06 37 77 06 26 (Cyp)</h4>
				<h4>Programmation artistique : 06 61 84 21 13 (Vinz) et 06 37 77 06 26 (Cyp)</h4>
				<h4>Devenir mécène : 06 85 52 39 44 (Max)</h4>
			</div>
		</div>
	</div>
	
	<div class="row expanded index" id="localisation">
		<h1><img src="{{ asset('images/localisation.png') }}" alt="">Localisation</h1>
		
		<div class="row expanded">
			<div class="small-12">
				
				<div style="width: 100%">
					<iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Rue%20de%20la%20Comtesse%20Henriette%2C%2025660%20Montfaucon+(Ebulli'Son)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
					</iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}