header {
	//background-color: $header-background;
	background: url("images/fond.jpg") no-repeat fixed center top;
	width: 100%;
	min-height: 100px;
	font-family: rabbit;
	
	@media screen and (max-width: 640px) {
		.accueil img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}

	@media screen and (min-width: 1000px) {
		nav {
			position: fixed;
			z-index: 999;
			//background-color: $header-background;
			background: url("images/fond.jpg") no-repeat fixed center top;
			width: 100%;
		}
	}

	nav {
		padding: 20px 0;
		font-size: 24px;
		box-shadow: 0px 0px 14px #000;

		ul {
			line-height: 70px;
			font-size: 25px;
			padding-left: 0;
			margin-bottom: 0;

			li {
				display: inline-block;
				list-style: none;
				padding-left: 3%;
				padding-right: 3%;
				letter-spacing: 3px;

				img {
					margin-right: 10px;
				}

				a {
					color: $header-color;

					&:hover {
						color: $header-color;
					}
				}
			}
		}

		@media screen and (max-width: 640px) {
			ul {
				padding-left: 20%;

				li {
					display: block;
					width: 100%;
					padding-left: 4% !important;
					padding-right: 0 !important;
				}
			}
		}

		.icones {
			@media screen and (max-width: 640px) {
				div {
					display: block;
					margin: 0 auto;
					width: 25px;
				}
			}

			i {
				display: inline-block;
				line-height: 70px;
				color: $header-facebook-color;
				margin-right: 20px;
				font-size: 40px;
			}
		}
	}
}