.video {
	position: relative;
	min-height: 60%;
	width: 100%;
	overflow: hidden;
	
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

.index {
	padding: 50px 0;
	color: $index-color-text;
	background-color: rgba(0, 0, 0, 0.5);

	h1, h3 {
		text-align: center;
	}

	h1 {
		/*font-weight: bold;*/
		color: $color-pink;
		font-family: rabbit;
		/*text-transform: uppercase;*/
		letter-spacing: 3px;
		font-size: 2.2rem;

		img {
			margin-right: 10px;
		}
	}

	h3 {
		font-family: Lachata;
		font-size: 1.5rem;
	}

	h4 {
		font-family: Lachata;
		margin: 20px 0;
		text-align: center;
		font-weight: bold;

		span {
			font-weight: normal;
		}
	}

	iframe {
		display: block;
	}

	&.intro {
		h3 span {
			font-size: 2.5rem;

			.nb {
				font-size: 3.5rem;
			}
		}

		p {
			text-align: center;
		}
	}
	
	&#a-propos h1 {
		font-family: lachata;
	}
	

	
	@media screen and (max-width: 640px) {
		h4:first-of-type {
			margin-top: inherit;
		}

		&.intro h3 .rose {
			line-height: 1;
		}
	}
	
	@media screen and (max-width: 960px) {
		.small-block {
			display: block;
		}
	}

	&#programmation {
		text-transform: uppercase;

		.liste > div {
			text-align: center;
			line-height: 1.2;
			width: 90%;
			margin: auto;

			> div {
				position: relative;
				display: inline-block;
			}
		}

		.first-line {
			font-size: 8.6rem;
		}

		.second-line {
			font-size: 5rem;
		}

		.little-line {
			font-size: 3rem;
			text-transform: initial;
		}

		@media screen and (max-width: 1870px) {
			.first-line {
				font-size: 8rem;
			}
		}

		@media screen and (max-width: 1787px) {
			.second-line {
				font-size: 4rem;
			}
		}

		@media screen and (max-width: 1741px) {
			.first-line {
				font-size: 7rem;
			}
		}

		@media screen and (max-width: 1725px) {
			.first-line {
				font-size: 6rem;
			}
		}

		@media screen and (max-width: 1432px) {
			.second-line {
				font-size: 3rem;
			}

			.little-line {
				font-size: 2rem;
			}
		}

		@media screen and (max-width: 1310px) {
			.first-line {
				font-size: 5rem;
			}
		}

		@media screen and (max-width: 1094px) {
			.first-line {
				font-size: 4rem;
			}
		}

		@media screen and (max-width: 879px) {
			.first-line {
				font-size: 3rem;
			}
		}

		@media screen and (max-width: 663px) {
			.first-line {
				font-size: 3rem;
			}
		}
	}

	&#billetterie {
		padding-bottom: 0;
	}

	&#localisation {
		padding-bottom: 0;
	}
}