.video {
	position: relative;
	min-height: 60%;
	width: 100%;
	overflow: hidden;
	margin-top: 20px;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

.index {
	padding: 50px 0;
	color: $index-color-text;
	background-color: rgba(62, 22, 92, 0.5);

	h1, h2, h3 {
		text-align: center;
	}

	h1, h2 {
		/*font-weight: bold;*/
		color: $color-white;
		font-family: rabbit;
		/*text-transform: uppercase;*/
		letter-spacing: 3px;
		font-size: 2.2rem;

		img {
			margin-right: 10px;
		}
	}

	h3 {
		font-family: Lachata;
		font-size: 1.5rem;
		
		&.sous-titre {
			font-family: rabbit;
			font-size: 2.2rem;
			/*color: $color-orange;*/
		}
	}

	h4 {
		font-family: Lachata;
		margin: 20px 0;
		text-align: center;
		font-weight: bold;

		span {
			font-weight: normal;
		}
	}

	iframe {
		display: block;
	}

	&.intro {
		h3 span {
			font-size: 2.5rem;

			.nb {
				font-size: 3.5rem;
			}
		}

		p {
			text-align: center;
		}
	}

	&#a-propos h1 {
		font-family: rabbit;
	}


	@media screen and (max-width: 640px) {
		h4:first-of-type {
			margin-top: inherit;
		}

		&.intro h3 .rose {
			line-height: 1;
		}
	}

	@media screen and (max-width: 960px) {
		.small-block {
			display: block;
		}
	}

	&#programmation {
		.vendredi, .samedi {
			margin-top: 2rem;
			color: $color-orange;
		}

		.first-line {
			font-size: 6rem;
			text-transform: uppercase;
			line-height: 1.2;
		}

		.second-line {
			font-size: 4rem;
			text-transform: uppercase;
			line-height: 1.2;

			> div {
				display: inline-block;
			}
		}

		.second-line-1 {
			font-size: 3.5rem;
			text-transform: uppercase;
			line-height: 1.2;

			> div {
				display: inline-block;
			}
		}

		.little-line {
			font-size: 2rem;
			text-transform: initial;

			&.space {
				margin-top: 5px;
			}

			> div {
				display: inline-block;
			}
		}

		@media screen and (max-width: 1870px) {
			.first-line {
				font-size: 4.3rem;
			}
		}

		@media screen and (max-width: 1787px) {
			.second-line {
				font-size: 3rem;
			}

			.second-line-1 {
				font-size: 2.5rem;
			}
		}

		@media screen and (max-width: 1390px) {
			.first-line {
				font-size: 4rem;
			}
		}

		@media screen and (max-width: 950px) {
			/*.liste > div > div span {
				display: none
			}*/

			.first-line {
				font-size: 2.5rem;
			}

			.second-line {
				font-size: 2rem;
			}

			.second-line-1 {
				font-size: 1.8rem;
			}

			.little-line {
				font-size: 1.5rem;
				text-transform: initial;

				&.space {
					margin-top: inherit;
				}
			}
		}

		@media screen and (max-width: 865px) {
			.first-line {
				font-size: 2.4rem;
			}

			.second-line {
				font-size: 2rem;
			}

			.second-line-1 {
				font-size: 1.8rem;
			}

			.little-line {
				font-size: 1.5rem;
				text-transform: initial;

				&.space {
					margin-top: inherit;
				}
			}
		}

		@media screen and (max-width: 583px) {
			> div > div > div > div > div {
				display: block !important;
				
				span {
					display: none;
				}
			}
			
			.first-line {
				font-size: 3.2rem;
			}

			.second-line {
				font-size: 2.5rem;
			}

			.second-line-1 {
				font-size: 2rem;
			}

			.little-line {
				font-size: 1.8rem;
				text-transform: initial;
			}
		}

		a {
			display: block;
			margin: auto;
			width: 400px;
			padding: 12px;
			color: $color-white;
			background: $color-pink;

			@include hbgtranslate($color-pink, $color-pink-dark, top, bottom);
		}
	}

	&#billetterie {
		padding-bottom: 0;
	}

	&#mecenat {
		margin: 0 20px;

		@media screen and (min-width: 980px) {
			table {
				display: table;
			}
		}

		table {
			background: transparent !important;
			color: #ffffff;

			thead, tbody {
				background: transparent !important;
				color: #ffffff;
			}

			 tbody tr {
				transition: 0.3s all ease;

				&:nth-child(even) {
					background-color: transparent;
				}

				&:hover {
					background: rgba(0, 0, 0, 0.8) !important;
				}
			}

			td {
				text-align: center;
				border: 1px solid #ffffff !important;
			}
		}
	}
	
	&#benevole {
		p {
			font-size: 1.5rem;
		}
		
		a {
			display: block;
			margin: auto;
			width: 235px;
			padding: 12px;
			color: $color-white;
			background: $color-pink;
			
			@include hbgtranslate($color-pink, $color-pink-dark, top, bottom);
		}
	}

	&#localisation {
		padding-bottom: 0;
	}
	
	&#localisation, &#medias {
		a {
			color: $color-white;
			text-decoration: underline;
		}
	}
	
	/*&#infos-pratiques {
		.block {
			border: 1px solid $color-white;
		}
	}*/
}