@font-face {
	font-family: josefin;
	src: url(fonts/JosefinSans-Regular.ttf);
}

@font-face {
	font-family: rabbit;
	src: url(fonts/rabbit.ttf);
}

@font-face {
	font-family: neuropol;
	src: url(fonts/neuropol.ttf);
}

@font-face {
	font-family: lachata;
	src: url(fonts/la-chata-normal.ttf);
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: lachata;
}

$color-pink: #e6007e;
$color-orange: #e94f0e;


$header-background: #ffffff;
$header-color: $color-pink;
$header-facebook-color: #000000;

$index-color: #ffffff;

@import "header";
@import "index";

.no-pl {
	padding-left: 0 !important;
}