@font-face {
	font-family: josefin;
	src: url(fonts/JosefinSans-Regular.ttf);
}

@font-face {
	font-family: rabbit;
	src: url(fonts/rabbit.ttf);
}

@font-face {
	font-family: neuropol;
	src: url(fonts/neuropol.ttf);
}

@font-face {
	font-family: lachata;
	src: url(fonts/la-chata-normal.ttf);
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: lachata;
	background: url("images/fond.jpg") fixed center top;
}

$color-pink: #fff;
$color-orange: #e94f0e;


$header-background: #ff0081;
$header-color: $color-pink;
$header-facebook-color: #fff;

$index-color: #ffffff;
$index-color-text: #ffffff;

@import "header";
@import "index";

.no-pl {
	padding-left: 0 !important;
}

.block {
	display: block;
}


.rose {
	color: $color-pink;
}
.tac {
	text-align: center;
}